$primary: #25271c;
$secondary: #eed44b;
$success:#eae3e3;
$info: #565141;
$dark: #968fad;
$light:#f6ecdd;



$font-headings: 'Josefin Sans', sans-serif;
$font-heading: 'Playfair Display', serif;
$font-body:'Lato', sans-serif;

@mixin flexC {
  height:100vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-size: 100vmax;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

// Required
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";



body {
  // background-image: url("../images/bg.jpeg");
  font-family: $font-body;
  color: $primary
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  // font-size: 2em;
  font-family: $font-headings;
  // font-weight: bold
}

h1{
  font-size: 4rem;
  font-family: $font-heading;
}

i {
  color: white;
  font-size: 1.8rem;
  &:active, &:hover{
  color:  $dark
  }
}

#home{
background-image: url("../images/bg.jpeg");
@include flexC();
background-color:$dark;
}

#about {
  @include flexC();
  
}

#work {
  @include flexC();
  background-color: $dark;
}

#education {
  @include flexC();
  background-color: $light;
}

#logo{
  width:80%;
  transform: rotateY(0);
  transition: transform 2s;
  &:hover{
    transform: rotateY(6.284rad);
  }
}

@media only screen and (max-device-width: 1024px) {
  #home, #about, #work, #education {
    background-attachment: scroll;
  }
}

@media (min-width:576px) {
  #logo{
    width:60%
  }
}

@media (min-width:768px) {
  #logo{
    width:50%
  }
  #about {
    background-image: url("../images/bg-me-01s.jpg");
  }
  #work {
    background-image: url("../images/bg-me-02s.jpg");
  }
  #education {
    background-image: url("../images/bg-me-03s.jpg");
  }
}

@media (min-width:992px) {
  #logo{
    width:45%
  }
  #home{
    height:100vh;
  }
  #about {
    height:100vh;
    background-image: url("../images/bg-me-01.jpg");
  }
  #work {
    height:100vh;
    background-image: url("../images/bg-me-02.jpg");
  }
  #education {
    height:100vh;
    background-image: url("../images/bg-me-03.jpg");
  }
}
  
@media (min-width: 1200px) {
  #home{
    height:100vh;
  }
  #about {
    height:100vh;
    background-image: url("../images/bg-me-01.jpg");
  }
  #work {
    height:100vh;
    background-image: url("../images/bg-me-02.jpg");
  }
  #education {
    height:100vh;
    background-image: url("../images/bg-me-03.jpg");
  }

  #logo{
    width:40%
    &:hover{
      transform: rotateY(3.142rad);
    }
  }
  
}

a{
  color:inherit;
  text-decoration: none;
  &:hover{
    color:inherit;
    text-decoration: underline;
  }
}

